body {
    background: #eee !important;
}

.wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
    border-radius:25px;
    border-color:#DDD;
}

.form-signin {
    max-width: 380px;
    padding: 50px 35px 45px;
    margin: 0 auto;
    background-color: #fff;


}
.
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 30px;



}
.form-signin .checkbox {
    font-weight: 32px;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
   ;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.form-signin input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.boxettino {
    height: auto;
    padding: 10px;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.offsetted {
    margin-top: 10px;
    margin-bottom:20px;
}
.boxettino .aqua {
    border: 15px solid aquamarine;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.boxettino.cadet {
    border: 2px solid cadetblue;
}

.boxettino.lawngreen {
    border: 2px solid lawngreen;
}

.error-messages {
    color: #ff0000;
    margin: 20px 0px 20px 0px;
}
